modLoader="javafml"
loaderVersion="[47,)"
license="MIT License"

[[mixins]]
config="creategeography.mixins.json"

[[mods]]
modId="creategeography"
version="1.0.2"
displayName="Create Geography"
logoFile="creategeography.png"
credits="adonis"
authors="adonis"
description='''
addon for create mod which themed the geography
'''

[[dependencies.creategeography]]
modId="forge"
mandatory=true
versionRange="[47, )"
ordering="NONE"
side="BOTH"

[[dependencies.creategeography]]
modId="create"
mandatory=true
versionRange="[6.0.2,6.1.0)"
ordering="NONE"
side="BOTH"

[[dependencies.creategeography]]
modId="minecraft"
mandatory=true
versionRange="[1.20, 1.20.2]"
ordering="NONE"
side="BOTH"